.container-fluid img{
                 width:90%;
                 height: 90%;
                 
    }

.container-fluid{
         position: relative;
         top: 20px;
   }

.mainbody-outer p , li, h4{
          
     font-size: 17px;
    font-family: 'Exo 2', sans-serif;
   }

.main-hr{
       height: 0px;
   }

.color-set{
      background-color: #F5F5F5;
      height: 580px;
}





.mainbody-outer{
    position: relative;
    top: 30px;
}

.container p{
    position: relative;
    top: 20px;
}  

.container-fluid .Row-Adjust{
    position: relative;
    top: 40px;
}

.Side-Para-Adjust{

    position: relative;
    top: 20px;
}



.button-primary-adjust{

position: relative;
top: 40px
}

.detail-adjust{
position: relative;
top: 30px;
}

.detail-adjust ul{
    position: relative;
    left: -20px;
}

.buttontt button{
    transition: transform 0.4s;
}

.buttontt button:hover{
transform:scale(1.2,1.2);
transition: transform 0.4s;
box-shadow: 1px 1px 1px 1px grey;
color: black;

}

@media(min-width:500px) and (max-width:767px){

    .buttontt{
             display: flex;
             justify-content: center;
            }
}


@media(min-width:500px) and (max-width:767px){

    .Side-Para-Adjust{
        top: 30px;
    }
}

@media(min-width:767px) and (max-width:965px){
    .color-set{
        background-color: #F5F5F5;
        height: 640px;
  }


}